div{
width: 500px;  
background: #000;
border-radius: 4px;
font-family: "arial-black";
font-size: 14px;
color: #FFF;
padding: 8px 12px;
cursor: pointer; 
}
.hidden{
    display: none;
  }

h2, h1 {
text-align: center;
}
img{
    float: right;
}
body{
    background-image:url(images/fondo.jpg);
}